<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceDiscovery" class="com.rchen.xrrpc.registry.impl.ZookeeperServiceDiscovery">
        <constructor-arg name="zkAddress" value="${rpc.discovery_address}"/>
    </bean>

    <bean id="rpcClient" class="com.rchen.xrrpc.client.RpcClient">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery" />
    </bean>

    <bean id="clientConfig" class="com.rchen.xrrpc.config.ClientConfig">
        <property name="verifyCode" value="${rpc.verification_code}"/>
    </bean>

</beans>